<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Web.Razor" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
    <httpRuntime enableVersionHeader="false" maxUrlLength="2048000" maxQueryStringLength="2048000" requestPathInvalidCharacters="" requestValidationMode="2.0" />
    <!--给个合适的值-->
  </system.web>
  <connectionStrings>
    <!--<add name="PPPEntities" connectionString="metadata=res://*/App_Code.Model.csdl|res://*/App_Code.Model.ssdl|res://*/App_Code.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.33.1.140;initial catalog=PPP;user id=Worleyparsons;password=MaisonWP;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="PPPEntities" connectionString="metadata=res://*/App_Code.Model.csdl|res://*/App_Code.Model.ssdl|res://*/App_Code.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=PPP;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="PPPEntities" connectionString="metadata=res://*/App_Code.Model.csdl|res://*/App_Code.Model.ssdl|res://*/App_Code.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=PPP;user id=sa;password=qwer1234!@#$;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <!--<system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="TS_StaffInfoForProjectSoap" />
        <binding name="TS_StaffInfoForProjectSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://cnbeiwpweb02v/handover/ts_staffinfoforproject.asmx"
        binding="basicHttpBinding" bindingConfiguration="TS_StaffInfoForProjectSoap"
        contract="cnbeiwpweb02v.TS_StaffInfoForProjectSoap" name="TS_StaffInfoForProjectSoap" />
      <endpoint address="http://cnbeiwpweb02v/handover/ts_staffinfoforproject.asmx"
        binding="basicHttpBinding" bindingConfiguration="TS_StaffInfoForProjectSoap1"
        contract="ServiceReference1.TS_StaffInfoForProjectSoap" name="TS_StaffInfoForProjectSoap1" />
    </client>
  </system.serviceModel>-->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="TS_ProjectInformationSoap" maxReceivedMessageSize="204800000" />
        <binding name="TS_StaffInfoForProjectSoap" maxReceivedMessageSize="204800000" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://cnbeiwpweb02v/ts_webservices/ts_projectinformation.asmx" binding="basicHttpBinding" bindingConfiguration="TS_ProjectInformationSoap" contract="cnbeiwpweb02v.ProjectRelease.TS_ProjectInformationSoap" name="TS_ProjectInformationSoap" />
      <endpoint address="http://cnbeiwpweb02v/ts_webservices/ts_staffinfoforproject.asmx" binding="basicHttpBinding" bindingConfiguration="TS_StaffInfoForProjectSoap" contract="cnbeiwpweb02v.TS_StaffInfoForProjectSoap" name="TS_StaffInfoForProjectSoap" />
    </client>
  </system.serviceModel>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="2048000" />
      </requestFiltering>
    </security>
    <!-- Ajax跨域访问 -->
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>