body {
}

.navbar-nav a.active {
    background-color:white;
}

thead>tr {
    background-color: lightyellow;
}

nav.sys-menu {
    background-color: black !important;
    border-bottom: 3px solid darkred;
}
nav.sys-menu a {
    color: white !important;
}

nav.sys-menu li a.active {
    background-color: cadetblue !important;
}

.dropdown-menu a {
    background-color: black;
}
.dropdown-menu a:hover {
    background-color: white;
}
.dropdown-menu li {
    background-color: black;
}
ul.dropdown-menu {
    background-color: black;
}
.dropdown-menu a:hover {
        color: black !important;
}

.shadow {
    -moz-box-shadow:2px 2px 5px #333333; 
    -webkit-box-shadow:2px 2px 5px #333333;
    -ms-box-shadow:2px 2px 5px #333333;
    box-shadow:2px 2px 5px #333333;
}

.clear-border-radius {
    -ms-border-radius: 0;
    border-radius: 0;
}
.date-format {
    color: gray;
    padding-left: 0.5rem;
}
.prompt {
    color: gray;
    padding-left: 0.5rem;
}
.search-people-result {
    /*z-index:-10000; float: left; width: 100%;background-color: white;position:relative*/
    position:absolute;
    float:left;
    width: 300px;
    z-index: 5;
}

.HeaderLinearBackground { 
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
}
